Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2021-04, with the labels that each got.

#2 Move a dataset's Terraform files into their own folder
  README.md
  datasets/covid19_tracking/_terraform/city_level_cases_and_deaths_pipeline.tf
  datasets/covid19_tracking/_terraform/covid19_tracking_dataset.tf
  datasets/covid19_tracking/_terraform/covid_racial_data_tracker_pipeline.tf
  datasets/covid19_tracking/_terraform/national_testing_and_outcomes_pipeline.tf
  datasets/covid19_tracking/_terraform/provider.tf
  datasets/covid19_tracking/_terraform/state_facility_level_long_term_care_pipeline.tf
  datasets/covid19_tracking/_terraform/state_level_aggregate_long_term_care_pipeline.tf
  datasets/covid19_tracking/_terraform/state_level_cumulative_long_term_care_pipeline.tf
  datasets/covid19_tracking/_terraform/state_level_current_outbreak_long_term_care_pipeline.tf
  datasets/covid19_tracking/_terraform/state_screenshots_pipeline.tf
  datasets/covid19_tracking/_terraform/state_testing_and_outcomes_pipeline.tf
  datasets/covid19_tracking/_terraform/variables.tf
  scripts/generate_terraform.py
  tests/scripts/test_generate_terraform.py
Labels: cleanup

#4 Use env name as a variable for GCS Terraform resources
  datasets/covid19_tracking/covid19_tracking_dataset.tf
  datasets/covid19_tracking/variables.tf
  scripts/generate_terraform.py
  templates/terraform/google_storage_bucket.tf.jinja2
  templates/terraform/variables.tf.jinja2
Labels: bug

#6 Convert `covid19_tracking` dataset columns to use snakecase
  README.md
  datasets/covid19_tracking/covid_racial_data_tracker/covid_racial_data_tracker_dag.py
  datasets/covid19_tracking/covid_racial_data_tracker/pipeline.yaml
  datasets/covid19_tracking/national_testing_and_outcomes/national_testing_and_outcomes_dag.py
  datasets/covid19_tracking/national_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/state_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/state_testing_and_outcomes/state_testing_and_outcomes_dag.py
  samples/pipeline.yaml
  scripts/deploy_dag.py
  scripts/generate_dag.py
  scripts/generate_terraform.py
Labels: cleanup, data onboarding

#3 Parallelize screenshot downloads for covid19_tracking.state_screenshots pipeline
  README.md
  datasets/covid19_tracking/_terraform/covid19_tracking_dataset.tf
  datasets/covid19_tracking/_terraform/variables.tf
  datasets/covid19_tracking/covid_racial_data_tracker/covid_racial_data_tracker_dag.py
  datasets/covid19_tracking/covid_racial_data_tracker/pipeline.yaml
  datasets/covid19_tracking/national_testing_and_outcomes/national_testing_and_outcomes_dag.py
  datasets/covid19_tracking/national_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/state_screenshots/custom/download_screenshots.py
  datasets/covid19_tracking/state_screenshots/custom/web_scrape_and_generate_csv.py
  datasets/covid19_tracking/state_screenshots/pipeline.yaml
  datasets/covid19_tracking/state_screenshots/state_screenshots_dag.py
  datasets/covid19_tracking/state_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/state_testing_and_outcomes/state_testing_and_outcomes_dag.py
  samples/pipeline.yaml
  scripts/deploy_dag.py
  scripts/generate_dag.py
  scripts/generate_terraform.py
  templates/terraform/google_storage_bucket.tf.jinja2
  templates/terraform/variables.tf.jinja2
Labels: cleanup, data onboarding

#9 Added `gcloud` setup link under requirements in README
  README.md
Labels: bug, documentation

#7 Add BigQuery column descriptions for `covid19_tracking` dataset tables
  README.md
  datasets/covid19_tracking/city_level_cases_and_deaths/city_level_cases_and_deaths_dag.py
  datasets/covid19_tracking/city_level_cases_and_deaths/pipeline.yaml
  datasets/covid19_tracking/covid_racial_data_tracker/covid_racial_data_tracker_dag.py
  datasets/covid19_tracking/covid_racial_data_tracker/pipeline.yaml
  datasets/covid19_tracking/national_testing_and_outcomes/national_testing_and_outcomes_dag.py
  datasets/covid19_tracking/national_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/state_facility_level_long_term_care/pipeline.yaml
  datasets/covid19_tracking/state_facility_level_long_term_care/state_facility_level_long_term_care_dag.py
  datasets/covid19_tracking/state_level_aggregate_long_term_care/pipeline.yaml
  datasets/covid19_tracking/state_level_aggregate_long_term_care/state_level_aggregate_long_term_care_dag.py
  datasets/covid19_tracking/state_level_cumulative_long_term_care/pipeline.yaml
  datasets/covid19_tracking/state_level_cumulative_long_term_care/state_level_cumulative_long_term_care_dag.py
  datasets/covid19_tracking/state_level_current_outbreak_long_term_care/pipeline.yaml
  datasets/covid19_tracking/state_level_current_outbreak_long_term_care/state_level_current_outbreak_long_term_care_dag.py
  datasets/covid19_tracking/state_screenshots/pipeline.yaml
  datasets/covid19_tracking/state_screenshots/state_screenshots_dag.py
  datasets/covid19_tracking/state_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/state_testing_and_outcomes/state_testing_and_outcomes_dag.py
  samples/pipeline.yaml
Labels: data onboarding

#13 Minimize `503 DELETE` or `503 POST` on GCS move operation for `state_screenshots`
  .github/workflows/terraform-lint.yaml
  .github/workflows/unit-tests.yaml
  README.md
  datasets/covid19_tracking/state_screenshots/custom/web_scrape_and_generate_csv.py
  datasets/covid19_tracking/state_screenshots/pipeline.yaml
  datasets/covid19_tracking/state_screenshots/state_screenshots_dag.py
  samples/pipeline.yaml
  scripts/dag_imports.json
  scripts/generate_dag.py
Labels: bug, data onboarding

#15 Added penguins DAG
  CONTRIBUTORS
  datasets/ml_datasets/_terraform/ml_datasets_dataset.tf
  datasets/ml_datasets/_terraform/penguins_pipeline.tf
  datasets/ml_datasets/_terraform/provider.tf
  datasets/ml_datasets/_terraform/variables.tf
  datasets/ml_datasets/dataset.yaml
  datasets/ml_datasets/penguins/penguins_dag.py
  datasets/ml_datasets/penguins/pipeline.yaml
Labels: data onboarding

#17 Adds the Vizgen MERFISH Mouse Brain Map dataset
  datasets/vizgen_merfish/_terraform/mouse_brain_map_pipeline.tf
  datasets/vizgen_merfish/_terraform/provider.tf
  datasets/vizgen_merfish/_terraform/variables.tf
  datasets/vizgen_merfish/_terraform/vizgen_merfish_dataset.tf
  datasets/vizgen_merfish/dataset.yaml
  datasets/vizgen_merfish/mouse_brain_map/mouse_brain_map_dag.py
  datasets/vizgen_merfish/mouse_brain_map/pipeline.yaml
Labels: data onboarding
