Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2021-12, with the labels that each got.

#241 feat: Onboard CDC Places Dataset
  datasets/cdc_places/_images/run_csv_transform_kub/Dockerfile
  datasets/cdc_places/_images/run_csv_transform_kub/csv_transform.py
  datasets/cdc_places/_images/run_csv_transform_kub/requirements.txt
  datasets/cdc_places/_terraform/cdc_places_dataset.tf
  datasets/cdc_places/_terraform/local_data_for_better_health_county_data_pipeline.tf
  datasets/cdc_places/_terraform/provider.tf
  datasets/cdc_places/_terraform/variables.tf
  datasets/cdc_places/dataset.yaml
  datasets/cdc_places/local_data_for_better_health_county_data/local_data_for_better_health_county_data_dag.py
  datasets/cdc_places/local_data_for_better_health_county_data/pipeline.yaml
Labels: data onboarding, cla: yes

#223 Onboard: FDA food dataset
  datasets/fda_food/_images/run_csv_transform_kub/Dockerfile
  datasets/fda_food/_images/run_csv_transform_kub/csv_transform.py
  datasets/fda_food/_images/run_csv_transform_kub/requirements.txt
  datasets/fda_food/_terraform/fda_food_dataset.tf
  datasets/fda_food/_terraform/food_enforcement_pipeline.tf
  datasets/fda_food/_terraform/food_events_pipeline.tf
  datasets/fda_food/_terraform/provider.tf
  datasets/fda_food/_terraform/variables.tf
  datasets/fda_food/dataset.yaml
  datasets/fda_food/food_enforcement/food_enforcement_dag.py
  datasets/fda_food/food_enforcement/pipeline.yaml
  datasets/fda_food/food_events/food_events_dag.py
  datasets/fda_food/food_events/pipeline.yaml
Labels: cla: yes

#239 feat: Adds `idc_current` dataset for IDC-TCIA
  datasets/idc/_images/generate_bq_views/queries/current/analysis_results_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/auxiliary_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/dicom_all.sql
  datasets/idc/_images/generate_bq_views/queries/current/dicom_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/dicom_metadata_curated.sql
  datasets/idc/_images/generate_bq_views/queries/current/measurement_groups.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_canc.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_ctab.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_ctabc.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_prsn.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_screen.sql
  datasets/idc/_images/generate_bq_views/queries/current/original_collections_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/qualitative_measurements.sql
  datasets/idc/_images/generate_bq_views/queries/current/quantitative_measurements.sql
  datasets/idc/_images/generate_bq_views/queries/current/segmentations.sql
  datasets/idc/_images/generate_bq_views/queries/current/tcga_biospecimen_rel9.sql
  datasets/idc/_images/generate_bq_views/queries/current/tcga_clinical_rel9.sql
  datasets/idc/_images/generate_bq_views/queries/current/version_metadata.sql
  datasets/idc/_terraform/idc_dataset.tf
  datasets/idc/copy_tcia_data/copy_tcia_data_dag.py
  datasets/idc/copy_tcia_data/pipeline.yaml
  datasets/idc/dataset.yaml
Labels: cla: yes

#244 feat: Onboard America Health Rankings Dataset
  datasets/america_health_rankings/_images/run_csv_transform_kub/Dockerfile
  datasets/america_health_rankings/_images/run_csv_transform_kub/csv_transform.py
  datasets/america_health_rankings/_images/run_csv_transform_kub/requirements.txt
  datasets/america_health_rankings/_terraform/ahr_pipeline.tf
  datasets/america_health_rankings/_terraform/america_health_rankings_dataset.tf
  datasets/america_health_rankings/_terraform/provider.tf
  datasets/america_health_rankings/_terraform/variables.tf
  datasets/america_health_rankings/ahr/ahr_dag.py
  datasets/america_health_rankings/ahr/pipeline.yaml
  datasets/america_health_rankings/dataset.yaml
Labels: data onboarding

#248 feat: Onboard Census Opportunity Atlas Dataset
  datasets/census_opportunity_atlas/_images/run_csv_transform_kub/Dockerfile
  datasets/census_opportunity_atlas/_images/run_csv_transform_kub/csv_transform.py
  datasets/census_opportunity_atlas/_images/run_csv_transform_kub/requirements.txt
  datasets/census_opportunity_atlas/_terraform/census_opportunity_atlas_dataset.tf
  datasets/census_opportunity_atlas/_terraform/provider.tf
  datasets/census_opportunity_atlas/_terraform/tract_covariates_pipeline.tf
  datasets/census_opportunity_atlas/_terraform/variables.tf
  datasets/census_opportunity_atlas/dataset.yaml
  datasets/census_opportunity_atlas/tract_covariates/pipeline.yaml
  datasets/census_opportunity_atlas/tract_covariates/tract_covariates_dag.py
Labels: data onboarding

#250 feat: Onboard City Health Dashboard Dataset
  datasets/city_health_dashboard/_images/run_csv_transform_kub/Dockerfile
  datasets/city_health_dashboard/_images/run_csv_transform_kub/csv_transform.py
  datasets/city_health_dashboard/_images/run_csv_transform_kub/requirements.txt
  datasets/city_health_dashboard/_terraform/chdb_data_city_all_pipeline.tf
  datasets/city_health_dashboard/_terraform/chdb_data_tract_all_pipeline.tf
  datasets/city_health_dashboard/_terraform/city_health_dashboard_dataset.tf
  datasets/city_health_dashboard/_terraform/provider.tf
  datasets/city_health_dashboard/_terraform/variables.tf
  datasets/city_health_dashboard/chdb_data_city_all/chdb_data_city_all_dag.py
  datasets/city_health_dashboard/chdb_data_city_all/pipeline.yaml
  datasets/city_health_dashboard/chdb_data_tract_all/chdb_data_tract_all_dag.py
  datasets/city_health_dashboard/chdb_data_tract_all/pipeline.yaml
  datasets/city_health_dashboard/dataset.yaml
Labels: data onboarding

#242 feat: Onboard Chronic Disease Indicators Dataset
  datasets/cdc_chronic_disease_indicators/_images/run_csv_transform_kub/Dockerfile
  datasets/cdc_chronic_disease_indicators/_images/run_csv_transform_kub/csv_transform.py
  datasets/cdc_chronic_disease_indicators/_images/run_csv_transform_kub/requirements.txt
  datasets/cdc_chronic_disease_indicators/_terraform/cdc_chronic_disease_indicators_dataset.tf
  datasets/cdc_chronic_disease_indicators/_terraform/chronic_disease_indicators_pipeline.tf
  datasets/cdc_chronic_disease_indicators/_terraform/provider.tf
  datasets/cdc_chronic_disease_indicators/_terraform/variables.tf
  datasets/cdc_chronic_disease_indicators/chronic_disease_indicators/chronic_disease_indicators_dag.py
  datasets/cdc_chronic_disease_indicators/chronic_disease_indicators/pipeline.yaml
  datasets/cdc_chronic_disease_indicators/dataset.yaml
Labels: data onboarding, cla: yes

#236 feat: Onboard Race and Economic Opportunity Dataset
  datasets/race_and_economic_opportunity/_images/run_csv_transform_kub/Dockerfile
  datasets/race_and_economic_opportunity/_images/run_csv_transform_kub/csv_transform.py
  datasets/race_and_economic_opportunity/_images/run_csv_transform_kub/requirements.txt
  datasets/race_and_economic_opportunity/_terraform/commuting_zone_income_rank_statistics_by_race_and_parent_income_percentile_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/crosswalk_between_parent_and_child_income_percentiles_and_dollar_values_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/intergenerational_transition_matrices_of_educational_attainment_by_race_and_gender_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/national_child_and_parent_income_transition_matrices_by_race_and_gender_for_children_with_mothers_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/national_child_and_parent_income_transition_matrices_by_race_and_gender_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/national_statistics_by_parent_income_percentile_gender_race_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/non_parametric_estimates_of_income_ranks_for_second_generation_immigrant_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/parametric_estimates_of_income_ranks_for_second_generation_immigrant_children_pipeline.tf
  datasets/race_and_economic_opportunity/_terraform/provider.tf
  datasets/race_and_economic_opportunity/_terraform/race_and_economic_opportunity_dataset.tf
  datasets/race_and_economic_opportunity/_terraform/variables.tf
  datasets/race_and_economic_opportunity/commuting_zone_income_rank_statistics_by_race_and_parent_income_percentile/commuting_zone_income_rank_statistics_by_race_and_parent_income_percentile_dag.py
  datasets/race_and_economic_opportunity/commuting_zone_income_rank_statistics_by_race_and_parent_income_percentile/pipeline.yaml
  datasets/race_and_economic_opportunity/crosswalk_between_parent_and_child_income_percentiles_and_dollar_values/crosswalk_between_parent_and_child_income_percentiles_and_dollar_values_dag.py
  datasets/race_and_economic_opportunity/crosswalk_between_parent_and_child_income_percentiles_and_dollar_values/pipeline.yaml
  datasets/race_and_economic_opportunity/dataset.yaml
  datasets/race_and_economic_opportunity/intergenerational_transition_matrices_of_educational_attainment_by_race_and_gender/intergenerational_transition_matrices_of_educational_attainment_by_race_and_gender_dag.py
  datasets/race_and_economic_opportunity/intergenerational_transition_matrices_of_educational_attainment_by_race_and_gender/pipeline.yaml
  datasets/race_and_economic_opportunity/national_child_and_parent_income_transition_matrices_by_race_and_gender/national_child_and_parent_income_transition_matrices_by_race_and_gender_dag.py
  datasets/race_and_economic_opportunity/national_child_and_parent_income_transition_matrices_by_race_and_gender/pipeline.yaml
  datasets/race_and_economic_opportunity/national_child_and_parent_income_transition_matrices_by_race_and_gender_for_children_with_mothers/national_child_and_parent_income_transition_matrices_by_race_and_gender_for_children_with_mothers_dag.py
  datasets/race_and_economic_opportunity/national_child_and_parent_income_transition_matrices_by_race_and_gender_for_children_with_mothers/pipeline.yaml
  datasets/race_and_economic_opportunity/national_statistics_by_parent_income_percentile_gender_race/national_statistics_by_parent_income_percentile_gender_race_dag.py
  datasets/race_and_economic_opportunity/national_statistics_by_parent_income_percentile_gender_race/pipeline.yaml
  datasets/race_and_economic_opportunity/non_parametric_estimates_of_income_ranks_for_second_generation_immigrant/non_parametric_estimates_of_income_ranks_for_second_generation_immigrant_dag.py
  datasets/race_and_economic_opportunity/non_parametric_estimates_of_income_ranks_for_second_generation_immigrant/pipeline.yaml
  datasets/race_and_economic_opportunity/parametric_estimates_of_income_ranks_for_second_generation_immigrant_children/parametric_estimates_of_income_ranks_for_second_generation_immigrant_children_dag.py
  datasets/race_and_economic_opportunity/parametric_estimates_of_income_ranks_for_second_generation_immigrant_children/pipeline.yaml
Labels: data onboarding, cla: yes
