Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2021-07, with the labels that each got.

#115 fix: Minor revisions to DAR dataset and table descriptions
  datasets/google_dei/_terraform/diversity_annual_report_pipeline.tf
  datasets/google_dei/_terraform/google_dei_dataset.tf
  datasets/google_dei/dataset.yaml
  datasets/google_dei/diversity_annual_report/pipeline.yaml
Labels: data onboarding

#118 cleanup: Partition Google Trends tables
  datasets/google_trends/_terraform/top_terms_pipeline.tf
  datasets/google_trends/top_terms/pipeline.yaml
Labels: cleanup, data onboarding

#116 feat: Support partitioning, clustering, and protection properties for BQ tables
  datasets/google_trends/_terraform/top_terms_pipeline.tf
  datasets/google_trends/top_terms/pipeline.yaml
  samples/pipeline.yaml
  templates/terraform/google_bigquery_table.tf.jinja2
  tests/scripts/test_generate_terraform.py
Labels: documentation, feature request

#113 feat: Onboard Vaccination Search Insights dataset
  datasets/covid19_vaccination_search_insights/_terraform/covid19_vaccination_search_insights_dataset.tf
  datasets/covid19_vaccination_search_insights/_terraform/covid19_vaccination_search_insights_pipeline.tf
  datasets/covid19_vaccination_search_insights/_terraform/provider.tf
  datasets/covid19_vaccination_search_insights/_terraform/variables.tf
  datasets/covid19_vaccination_search_insights/covid19_vaccination_search_insights/covid19_vaccination_search_insights_dag.py
  datasets/covid19_vaccination_search_insights/covid19_vaccination_search_insights/pipeline.yaml
  datasets/covid19_vaccination_search_insights/dataset.yaml
Labels: data onboarding

#96 feat: Onboard USA names dataset
  datasets/usa_names/_terraform/provider.tf
  datasets/usa_names/_terraform/usa_1910_current_pipeline.tf
  datasets/usa_names/_terraform/usa_names_dataset.tf
  datasets/usa_names/_terraform/variables.tf
  datasets/usa_names/dataset.yaml
  datasets/usa_names/usa_1910_current/pipeline.yaml
  datasets/usa_names/usa_1910_current/usa_1910_current_dag.py
Labels: cla: yes, data onboarding

#106 feat: Adds Google license header bot config
  header-checker-lint.yml
Labels: cleanup

#122 feat: Use a single file for shared Airflow variables
  README.md
  scripts/deploy_dag.py
  scripts/generate_dag.py
  tests/scripts/test_deploy_dag.py
  tests/scripts/test_generate_dag.py
Labels: cla: yes, documentation, feature request
