Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2022-11, with the labels that each got.

#522 feat: Launch AFDB v4 dataset
  datasets/deepmind/infra/deepmind_dataset.tf
  datasets/deepmind/pipelines/alphafold_v4/alphafold_v4_dag.py
  datasets/deepmind/pipelines/alphafold_v4/pipeline.yaml
  datasets/deepmind/pipelines/dataset.yaml
  poetry.lock
Labels: data onboarding

#529 cleanup: deprecate `datasets/covid19_tracking`
  datasets/covid19_tracking/infra/city_level_cases_and_deaths_pipeline.tf
  datasets/covid19_tracking/infra/covid19_tracking_dataset.tf
  datasets/covid19_tracking/infra/covid_racial_data_tracker_pipeline.tf
  datasets/covid19_tracking/infra/national_testing_and_outcomes_pipeline.tf
  datasets/covid19_tracking/infra/provider.tf
  datasets/covid19_tracking/infra/state_facility_level_long_term_care_pipeline.tf
  datasets/covid19_tracking/infra/state_level_aggregate_long_term_care_pipeline.tf
  datasets/covid19_tracking/infra/state_level_cumulative_long_term_care_pipeline.tf
  datasets/covid19_tracking/infra/state_level_current_outbreak_long_term_care_pipeline.tf
  datasets/covid19_tracking/infra/state_screenshots_pipeline.tf
  datasets/covid19_tracking/infra/state_testing_and_outcomes_pipeline.tf
  datasets/covid19_tracking/infra/variables.tf
  datasets/covid19_tracking/pipelines/city_level_cases_and_deaths/city_level_cases_and_deaths_dag.py
  datasets/covid19_tracking/pipelines/city_level_cases_and_deaths/custom/csv_transform.py
  datasets/covid19_tracking/pipelines/city_level_cases_and_deaths/pipeline.yaml
  datasets/covid19_tracking/pipelines/covid_racial_data_tracker/covid_racial_data_tracker_dag.py
  datasets/covid19_tracking/pipelines/covid_racial_data_tracker/custom/transform_dates.py
  datasets/covid19_tracking/pipelines/covid_racial_data_tracker/pipeline.yaml
  datasets/covid19_tracking/pipelines/dataset.yaml
  datasets/covid19_tracking/pipelines/national_testing_and_outcomes/national_testing_and_outcomes_dag.py
  datasets/covid19_tracking/pipelines/national_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/pipelines/state_facility_level_long_term_care/custom/multi_csv_transform.py
  datasets/covid19_tracking/pipelines/state_facility_level_long_term_care/pipeline.yaml
  datasets/covid19_tracking/pipelines/state_facility_level_long_term_care/state_facility_level_long_term_care_dag.py
  datasets/covid19_tracking/pipelines/state_level_aggregate_long_term_care/custom/csv_transform.py
  datasets/covid19_tracking/pipelines/state_level_aggregate_long_term_care/pipeline.yaml
  datasets/covid19_tracking/pipelines/state_level_aggregate_long_term_care/state_level_aggregate_long_term_care_dag.py
  datasets/covid19_tracking/pipelines/state_level_cumulative_long_term_care/custom/csv_transform.py
  datasets/covid19_tracking/pipelines/state_level_cumulative_long_term_care/pipeline.yaml
  datasets/covid19_tracking/pipelines/state_level_cumulative_long_term_care/state_level_cumulative_long_term_care_dag.py
  datasets/covid19_tracking/pipelines/state_level_current_outbreak_long_term_care/custom/csv_transform.py
  datasets/covid19_tracking/pipelines/state_level_current_outbreak_long_term_care/pipeline.yaml
  datasets/covid19_tracking/pipelines/state_level_current_outbreak_long_term_care/state_level_cumulative_long_term_care_dag.py
  datasets/covid19_tracking/pipelines/state_level_current_outbreak_long_term_care/state_level_current_outbreak_long_term_care_dag.py
  datasets/covid19_tracking/pipelines/state_screenshots/custom/download_screenshots.py
  datasets/covid19_tracking/pipelines/state_screenshots/custom/web_scrape_and_generate_csv.py
  datasets/covid19_tracking/pipelines/state_screenshots/pipeline.yaml
  datasets/covid19_tracking/pipelines/state_screenshots/state_screenshots_dag.py
  datasets/covid19_tracking/pipelines/state_testing_and_outcomes/pipeline.yaml
  datasets/covid19_tracking/pipelines/state_testing_and_outcomes/state_testing_and_outcomes_dag.py
Labels: cleanup

#530 feat: IDC v12 release
  datasets/idc/infra/idc_dataset.tf
  datasets/idc/pipelines/copy_tcia_data/copy_tcia_data_dag.py
  datasets/idc/pipelines/copy_tcia_data/pipeline.yaml
  datasets/idc/pipelines/dataset.yaml
Labels: revision: pipeline, data onboarding

#533 Feat: Onboard Chicago Taxi Trips dataset
  datasets/chicago_taxi_trips/infra/chicago_taxi_trips_dataset.tf
  datasets/chicago_taxi_trips/infra/provider.tf
  datasets/chicago_taxi_trips/infra/taxi_trips_pipeline.tf
  datasets/chicago_taxi_trips/infra/variables.tf
  datasets/chicago_taxi_trips/pipelines/_images/run_csv_transform_kub/Dockerfile
  datasets/chicago_taxi_trips/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/chicago_taxi_trips/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/chicago_taxi_trips/pipelines/dataset.yaml
  datasets/chicago_taxi_trips/pipelines/taxi_trips/pipeline.yaml
  datasets/chicago_taxi_trips/pipelines/taxi_trips/taxi_trips_dag.py
Labels: data onboarding

#537 feat: Onboard London Cycle Stations dataset
  datasets/london_bicycles/infra/cycle_stations_pipeline.tf
  datasets/london_bicycles/infra/london_bicycles_dataset.tf
  datasets/london_bicycles/infra/provider.tf
  datasets/london_bicycles/infra/variables.tf
  datasets/london_bicycles/pipelines/_images/run_csv_transform_kub/Dockerfile
  datasets/london_bicycles/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/london_bicycles/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/london_bicycles/pipelines/cycle_stations/cycle_stations_dag.py
  datasets/london_bicycles/pipelines/cycle_stations/pipeline.yaml
  datasets/london_bicycles/pipelines/dataset.yaml
Labels: data onboarding

#544 feat: Onboard NIH GUDID Historic data dataset
  datasets/nih_gudid/infra/nih_gudid_dataset.tf
  datasets/nih_gudid/infra/nih_gudid_pipeline.tf
  datasets/nih_gudid/infra/provider.tf
  datasets/nih_gudid/infra/variables.tf
  datasets/nih_gudid/pipelines/dataset.yaml
  datasets/nih_gudid/pipelines/nih_gudid/nih_gudid_dag.py
  datasets/nih_gudid/pipelines/nih_gudid/pipeline.yaml
Labels: data onboarding
