Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2022-08, with the labels that each got.

#434 chore: Update license headers to 2022
  templates/airflow/dag.py.jinja2
  templates/airflow/dag_context.py.jinja2
  templates/airflow/default_args.py.jinja2
  templates/airflow/license_header.py.jinja2
  templates/airflow/task.py.jinja2
  templates/terraform/backend.tf.jinja2
  templates/terraform/google_bigquery_dataset.tf.jinja2
  templates/terraform/google_bigquery_table.tf.jinja2
  templates/terraform/google_storage_bucket.tf.jinja2
  templates/terraform/license_header.tf.jinja2
  templates/terraform/provider.tf.jinja2
  templates/terraform/terraform.tfvars.jinja2
  templates/terraform/variables.tf.jinja2
Labels: cleanup

#433 feat: Onboard IDC v10 dataset
  datasets/idc/infra/idc_dataset.tf
  datasets/idc/infra/provider.tf
  datasets/idc/infra/variables.tf
  datasets/idc/pipelines/copy_tcia_data/copy_tcia_data_dag.py
  datasets/idc/pipelines/copy_tcia_data/pipeline.yaml
  datasets/idc/pipelines/dataset.yaml
Labels: revision: pipeline, data onboarding

#436 chore: Update GCP release notes dataset to Airflow 2
  datasets/google_cloud_release_notes/infra/google_cloud_release_notes_dataset.tf
  datasets/google_cloud_release_notes/infra/provider.tf
  datasets/google_cloud_release_notes/infra/release_notes_pipeline.tf
  datasets/google_cloud_release_notes/infra/variables.tf
  datasets/google_cloud_release_notes/pipelines/_images/copy_bq_dataset/Dockerfile
  datasets/google_cloud_release_notes/pipelines/_images/copy_bq_dataset/requirements.txt
  datasets/google_cloud_release_notes/pipelines/_images/copy_bq_dataset/script.py
  datasets/google_cloud_release_notes/pipelines/release_notes/pipeline.yaml
  datasets/google_cloud_release_notes/pipelines/release_notes/release_notes_dag.py
Labels: revision: pipeline, data onboarding

#451 fix: AlphaFold dataset - add accession_ids.csv to the bucket
  datasets/deepmind/pipelines/alphafold/alphafold_dag.py
  datasets/deepmind/pipelines/alphafold/pipeline.yaml
Labels: revision: pipeline

#438 Feat: Onboard Human Variant Annotation dataset
  datasets/human_variant_annotation/infra/human_variant_annotation_dataset.tf
  datasets/human_variant_annotation/infra/provider.tf
  datasets/human_variant_annotation/infra/variables.tf
  datasets/human_variant_annotation/pipelines/_images/run_csv_transform_kub/Dockerfile
  datasets/human_variant_annotation/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/human_variant_annotation/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/human_variant_annotation/pipelines/clinvar/clinvar_dag.py
  datasets/human_variant_annotation/pipelines/clinvar/pipeline.yaml
  datasets/human_variant_annotation/pipelines/dataset.yaml
  datasets/human_variant_annotation/pipelines/db_snp/db_snp_dag.py
  datasets/human_variant_annotation/pipelines/db_snp/pipeline.yaml
Labels: data onboarding

#454 Feat: Onboard NHTSA Traffic Fatalities dataset
  datasets/nhtsa_traffic_fatalities/infra/nhtsa_traffic_fatalities_dataset.tf
  datasets/nhtsa_traffic_fatalities/infra/provider.tf
  datasets/nhtsa_traffic_fatalities/infra/variables.tf
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_accident_2015_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_accident_2016_2019_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_accident_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_cevent_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_damage_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_distract_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_drimpair_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_factor_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_maneuver_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_nmcrash_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_nmimpair_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_nmprior_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_parkwork_2015_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_parkwork_2016_2017_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_parkwork_2018_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_parkwork_2019_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_parkwork_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_pbtype_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_person_2015_2017_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_person_2018_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_person_2019_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_person_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_safetyeq_2015_2016_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_safetyeq_2017_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vehicle_2015_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vehicle_2016_2017_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vehicle_2018_2019_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vehicle_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vevent_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vindecode_2015_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_violatn_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vision_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/nhtsa_traffic_fatalities_vsoe_2015_2020_schema.json
  datasets/nhtsa_traffic_fatalities/pipelines/_images/run_csv_transform_kub/Dockerfile
  datasets/nhtsa_traffic_fatalities/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/nhtsa_traffic_fatalities/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/nhtsa_traffic_fatalities/pipelines/dataset.yaml
  datasets/nhtsa_traffic_fatalities/pipelines/nhtsa_traffic_fatalities/nhtsa_traffic_fatalities_dag.py
  datasets/nhtsa_traffic_fatalities/pipelines/nhtsa_traffic_fatalities/pipeline.yaml
Labels: data onboarding

#460 Feat: Onboard COVID-19 Genome Sequence dataset
  datasets/covid19_genome_sequence/infra/covid19_genome_sequence_dataset.tf
  datasets/covid19_genome_sequence/infra/provider.tf
  datasets/covid19_genome_sequence/infra/variables.tf
  datasets/covid19_genome_sequence/pipelines/_images/bq_data_transfer/Dockerfile
  datasets/covid19_genome_sequence/pipelines/_images/bq_data_transfer/requirements.txt
  datasets/covid19_genome_sequence/pipelines/_images/bq_data_transfer/script.py
  datasets/covid19_genome_sequence/pipelines/covid19_genome_sequence/covid19_genome_sequence_dag.py
  datasets/covid19_genome_sequence/pipelines/covid19_genome_sequence/pipeline.yaml
  datasets/covid19_genome_sequence/pipelines/dataset.yaml
Labels: data onboarding

#462 Fix: Update project parameters for COVID-19 Genome Sequence dataset
  datasets/covid19_genome_sequence/pipelines/covid19_genome_sequence/covid19_genome_sequence_dag.py
  datasets/covid19_genome_sequence/pipelines/covid19_genome_sequence/pipeline.yaml
Labels: data onboarding

#461 Feat: Onboard Multilingual Spoken Words Corpus - MLCommons Association dataset
  datasets/multilingual_spoken_words_corpus/infra/multilingual_spoken_words_corpus_dataset.tf
  datasets/multilingual_spoken_words_corpus/infra/multilingual_spoken_words_corpus_pipeline.tf
  datasets/multilingual_spoken_words_corpus/infra/provider.tf
  datasets/multilingual_spoken_words_corpus/infra/variables.tf
  datasets/multilingual_spoken_words_corpus/pipelines/_images/run_csv_transform_kub/Dockerfile
  datasets/multilingual_spoken_words_corpus/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/multilingual_spoken_words_corpus/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/multilingual_spoken_words_corpus/pipelines/dataset.yaml
  datasets/multilingual_spoken_words_corpus/pipelines/multilingual_spoken_words_corpus/multilingual_spoken_words_corpus_dag.py
  datasets/multilingual_spoken_words_corpus/pipelines/multilingual_spoken_words_corpus/pipeline.yaml
Labels: data onboarding
