Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2022-01, with the labels that each got.

#225 feat: Onboard CFPB Complaints dataset
  datasets/cfpb_complaints/_images/run_csv_transform_kub/Dockerfile
  datasets/cfpb_complaints/_images/run_csv_transform_kub/csv_transform.py
  datasets/cfpb_complaints/_images/run_csv_transform_kub/requirements.txt
  datasets/cfpb_complaints/_terraform/cfpb_complaints_dataset.tf
  datasets/cfpb_complaints/_terraform/complaint_database_pipeline.tf
  datasets/cfpb_complaints/_terraform/provider.tf
  datasets/cfpb_complaints/_terraform/variables.tf
  datasets/cfpb_complaints/complaint_database/complaint_database_dag.py
  datasets/cfpb_complaints/complaint_database/pipeline.yaml
  datasets/cfpb_complaints/dataset.yaml
Labels: data onboarding, cla: yes

#238 feat: Onboard News Hate Crimes dataset
  datasets/news_hatecrimes/_images/run_csv_transform_kub/Dockerfile
  datasets/news_hatecrimes/_images/run_csv_transform_kub/csv_transform.py
  datasets/news_hatecrimes/_images/run_csv_transform_kub/requirements.txt
  datasets/news_hatecrimes/_terraform/hatecrimes_pipeline.tf
  datasets/news_hatecrimes/_terraform/news_hatecrimes_dataset.tf
  datasets/news_hatecrimes/_terraform/provider.tf
  datasets/news_hatecrimes/_terraform/variables.tf
  datasets/news_hatecrimes/dataset.yaml
  datasets/news_hatecrimes/hatecrimes/hatecrimes_dag.py
  datasets/news_hatecrimes/hatecrimes/pipeline.yaml
Labels: data onboarding, cla: yes

#245 feat: Onboard fda_drug dataset
  datasets/fda_drug/_images/run_csv_transform_kub/Dockerfile
  datasets/fda_drug/_images/run_csv_transform_kub/csv_transform.py
  datasets/fda_drug/_images/run_csv_transform_kub/requirements.txt
  datasets/fda_drug/_terraform/drug_enforcement_pipeline.tf
  datasets/fda_drug/_terraform/fda_drug_dataset.tf
  datasets/fda_drug/_terraform/provider.tf
  datasets/fda_drug/_terraform/variables.tf
  datasets/fda_drug/dataset.yaml
  datasets/fda_drug/drug_enforcement/drug_enforcement_dag.py
  datasets/fda_drug/drug_enforcement/pipeline.yaml
Labels: data onboarding

#262 feat: Onboarding COVID-19 (UK) Government Response dataset
  datasets/covid19_govt_response/_images/run_csv_transform_kub/Dockerfile
  datasets/covid19_govt_response/_images/run_csv_transform_kub/csv_transform.py
  datasets/covid19_govt_response/_images/run_csv_transform_kub/requirements.txt
  datasets/covid19_govt_response/_terraform/covid19_govt_response_dataset.tf
  datasets/covid19_govt_response/_terraform/oxford_policy_tracker_pipeline.tf
  datasets/covid19_govt_response/_terraform/provider.tf
  datasets/covid19_govt_response/_terraform/variables.tf
  datasets/covid19_govt_response/dataset.yaml
  datasets/covid19_govt_response/oxford_policy_tracker/oxford_policy_tracker_dag.py
  datasets/covid19_govt_response/oxford_policy_tracker/pipeline.yaml
Labels: data onboarding

#261 feat: Onboard COVID-19 CDS EU dataset
  datasets/covid19_cds_eu/_images/run_csv_transform_kub/Dockerfile
  datasets/covid19_cds_eu/_images/run_csv_transform_kub/csv_transform.py
  datasets/covid19_cds_eu/_images/run_csv_transform_kub/requirements.txt
  datasets/covid19_cds_eu/_terraform/covid19_cds_eu_dataset.tf
  datasets/covid19_cds_eu/_terraform/global_cases_by_province_pipeline.tf
  datasets/covid19_cds_eu/_terraform/provider.tf
  datasets/covid19_cds_eu/_terraform/variables.tf
  datasets/covid19_cds_eu/dataset.yaml
  datasets/covid19_cds_eu/global_cases_by_province/global_cases_by_province_dag.py
  datasets/covid19_cds_eu/global_cases_by_province/pipeline.yaml
Labels: data onboarding

#268 chore: Update README
  README.md
Labels: documentation

#266 feat: Update IDC dataset with new views and `v6` version
  datasets/idc/_images/generate_bq_views/queries/current/analysis_results_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/auxiliary_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/dicom_all.sql
  datasets/idc/_images/generate_bq_views/queries/current/dicom_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/dicom_metadata_curated.sql
  datasets/idc/_images/generate_bq_views/queries/current/measurement_groups.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_canc.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_ctab.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_ctabc.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_prsn.sql
  datasets/idc/_images/generate_bq_views/queries/current/nlst_screen.sql
  datasets/idc/_images/generate_bq_views/queries/current/original_collections_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/current/qualitative_measurements.sql
  datasets/idc/_images/generate_bq_views/queries/current/quantitative_measurements.sql
  datasets/idc/_images/generate_bq_views/queries/current/segmentations.sql
  datasets/idc/_images/generate_bq_views/queries/current/tcga_biospecimen_rel9.sql
  datasets/idc/_images/generate_bq_views/queries/current/tcga_clinical_rel9.sql
  datasets/idc/_images/generate_bq_views/queries/current/version_metadata.sql
  datasets/idc/_images/generate_bq_views/queries/v1/dicom_pivot_v1.sql
  datasets/idc/_images/generate_bq_views/queries/v2/dicom_pivot_v2.sql
  datasets/idc/_images/generate_bq_views/queries/v3/dicom_pivot_v3.sql
  datasets/idc/_images/generate_bq_views/queries/v4/dicom_pivot_v4.sql
  datasets/idc/_images/generate_bq_views/queries/v5/dicom_pivot_v5.sql
  datasets/idc/_images/generate_bq_views/queries/v6/dicom_all.sql
  datasets/idc/_images/generate_bq_views/queries/v6/dicom_metadata_curated.sql
  datasets/idc/_images/generate_bq_views/queries/v6/dicom_pivot_v6.sql
  datasets/idc/_images/generate_bq_views/queries/v6/measurement_groups.sql
  datasets/idc/_images/generate_bq_views/queries/v6/qualitative_measurements.sql
  datasets/idc/_images/generate_bq_views/queries/v6/quantitative_measurements.sql
  datasets/idc/_images/generate_bq_views/queries/v6/segmentations.sql
  datasets/idc/_images/generate_bq_views/script.py
  datasets/idc/_terraform/idc_dataset.tf
  datasets/idc/copy_tcia_data/copy_tcia_data_dag.py
  datasets/idc/copy_tcia_data/pipeline.yaml
  datasets/idc/dataset.yaml
Labels: data onboarding

#272 feat: Onboard Censustract 2019 table
  datasets/census_bureau_acs/_terraform/censustract_2019_5yr_pipeline.tf
  datasets/census_bureau_acs/censustract_2019_5yr/censustract_2019_5yr_dag.py
  datasets/census_bureau_acs/censustract_2019_5yr/pipeline.yaml
Labels: data onboarding

#273 feat: Onboard EUMETSAT Solar Forecasting dataset
  datasets/eumetsat/_terraform/eumetsat_dataset.tf
  datasets/eumetsat/_terraform/provider.tf
  datasets/eumetsat/_terraform/variables.tf
  datasets/eumetsat/dataset.yaml
  datasets/eumetsat/solar_forecasting/pipeline.yaml
  datasets/eumetsat/solar_forecasting/solar_forecasting_dag.py
Labels: data onboarding

#264 feat: Onboard gnomAD dataset
  datasets/gnomad/_terraform/provider.tf
  datasets/gnomad/_terraform/variables.tf
  datasets/gnomad/copy_gcs_bucket/copy_gcs_bucket_dag.py
  datasets/gnomad/copy_gcs_bucket/pipeline.yaml
  datasets/gnomad/dataset.yaml
Labels: data onboarding
