Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2022-06, with the labels that each got.

#367 Feat: Onboard Cloud Storage Geo Index
  datasets/cloud_storage_geo_index/pipelines/_images/run_csv_transform_kub/cloud_storage_geo_index_landsat_index_schema.json
  datasets/cloud_storage_geo_index/pipelines/_images/run_csv_transform_kub/cloud_storage_geo_index_sentinel_2_schema.json
  datasets/cloud_storage_geo_index/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/cloud_storage_geo_index/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/cloud_storage_geo_index/pipelines/cloud_storage_geo_index/cloud_storage_geo_index_dag.py
  datasets/cloud_storage_geo_index/pipelines/cloud_storage_geo_index/pipeline.yaml
  datasets/cloud_storage_geo_index/pipelines/landsat_index/landsat_index_dag.py
  datasets/cloud_storage_geo_index/pipelines/landsat_index/pipeline.yaml
  datasets/cloud_storage_geo_index/pipelines/sentinel_2_index/pipeline.yaml
  datasets/cloud_storage_geo_index/pipelines/sentinel_2_index/sentinel_2_index_dag.py
Labels: revision: pipeline, data onboarding

#374 feat: Onboard City Health Dashboard dataset
  datasets/city_health_dashboard/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/city_health_dashboard/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/city_health_dashboard/pipelines/chdb_data_city_all/chdb_data_city_all_dag.py
  datasets/city_health_dashboard/pipelines/chdb_data_city_all/pipeline.yaml
  datasets/city_health_dashboard/pipelines/chdb_data_tract_all/chdb_data_tract_all_dag.py
  datasets/city_health_dashboard/pipelines/chdb_data_tract_all/pipeline.yaml
  datasets/city_health_dashboard/pipelines/city_health_dashboard/city_health_dashboard_dag.py
  datasets/city_health_dashboard/pipelines/city_health_dashboard/data/chdb_data_city_schema.json
  datasets/city_health_dashboard/pipelines/city_health_dashboard/data/chdb_data_tract_schema.json
  datasets/city_health_dashboard/pipelines/city_health_dashboard/pipeline.yaml
  datasets/city_health_dashboard/pipelines/city_health_dashboard_full_load/city_health_dashboard_full_load_dag.py
  datasets/city_health_dashboard/pipelines/city_health_dashboard_full_load/data/chdb_data_city_schema.json
  datasets/city_health_dashboard/pipelines/city_health_dashboard_full_load/data/chdb_data_tract_schema.json
  datasets/city_health_dashboard/pipelines/city_health_dashboard_full_load/pipeline.yaml
Labels: bug, revision: pipeline, data onboarding

#382 Feat: Onboard IMDB Dataset
  datasets/imdb/infra/imdb_dataset.tf
  datasets/imdb/infra/provider.tf
  datasets/imdb/infra/reviews_pipeline.tf
  datasets/imdb/infra/variables.tf
  datasets/imdb/pipelines/_images/run_csv_transform_kub/Dockerfile
  datasets/imdb/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/imdb/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/imdb/pipelines/dataset.yaml
  datasets/imdb/pipelines/reviews/pipeline.yaml
  datasets/imdb/pipelines/reviews/reviews_dag.py
Labels: data onboarding

#385 chore: Modify google_political_ads pipeline schedule
  datasets/google_political_ads/infra/google_political_ads_dataset.tf
  datasets/google_political_ads/infra/variables.tf
  datasets/google_political_ads/pipelines/process_csvs_and_load_to_bq/pipeline.yaml
  datasets/google_political_ads/pipelines/process_csvs_and_load_to_bq/process_csvs_and_load_to_bq_dag.py
Labels: revision: pipeline

#383 feat: Onboard COVID-19 dataset from The New York Times
  datasets/covid19_nyt/infra/covid19_nyt_dataset.tf
  datasets/covid19_nyt/infra/load_from_github_pipeline.tf
  datasets/covid19_nyt/infra/provider.tf
  datasets/covid19_nyt/infra/variables.tf
  datasets/covid19_nyt/pipelines/dataset.yaml
  datasets/covid19_nyt/pipelines/load_from_github/load_from_github_dag.py
  datasets/covid19_nyt/pipelines/load_from_github/pipeline.yaml
Labels: data onboarding

#392 feat: Manage local and remote Airflow variables during deployment
  poetry.lock
  pyproject.toml
  scripts/deploy_dag.py
  tests/scripts/test_deploy_dag.py
Labels: feature request, cleanup, dependencies, revision: feature
