Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2022-05, with the labels that each got.

#355 feat: Onboard GBIF dataset
  datasets/gbif/infra/gbif_dataset.tf
  datasets/gbif/infra/gcs_to_bq_pipeline.tf
  datasets/gbif/infra/provider.tf
  datasets/gbif/infra/variables.tf
  datasets/gbif/pipelines/dataset.yaml
  datasets/gbif/pipelines/gcs_to_bq/gcs_to_bq_dag.py
  datasets/gbif/pipelines/gcs_to_bq/pipeline.yaml
Labels: data onboarding

#356 feat: Onboard deps.dev dataset
  datasets/scalable_open_source/infra/provider.tf
  datasets/scalable_open_source/infra/scalable_open_source_dataset.tf
  datasets/scalable_open_source/infra/variables.tf
  datasets/scalable_open_source/pipelines/_images/bq_data_transfer/Dockerfile
  datasets/scalable_open_source/pipelines/_images/bq_data_transfer/requirements.txt
  datasets/scalable_open_source/pipelines/_images/bq_data_transfer/script.py
  datasets/scalable_open_source/pipelines/dataset.yaml
  datasets/scalable_open_source/pipelines/deps_dev/deps_dev_dag.py
  datasets/scalable_open_source/pipelines/deps_dev/pipeline.yaml
Labels: data onboarding

#263 feat: Onboard Census Opportunity Atlas Dataset
  datasets/decennial_census_quick_facts/infra/decennial_census_quick_facts_dataset.tf
  datasets/decennial_census_quick_facts/infra/provider.tf
  datasets/decennial_census_quick_facts/infra/united_states_census_bureau_pipeline.tf
  datasets/decennial_census_quick_facts/infra/variables.tf
  datasets/decennial_census_quick_facts/pipelines/_images/run_csv_transform_kub/Dockerfile
  datasets/decennial_census_quick_facts/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/decennial_census_quick_facts/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/decennial_census_quick_facts/pipelines/dataset.yaml
  datasets/decennial_census_quick_facts/pipelines/united_states_census_bureau/pipeline.yaml
  datasets/decennial_census_quick_facts/pipelines/united_states_census_bureau/united_states_census_bureau_dag.py
Labels: data onboarding

#359 chore: Changes to Diversity Annual Report (google_dei) schema
  datasets/google_dei/pipelines/diversity_annual_report/diversity_annual_report_dag.py
  datasets/google_dei/pipelines/diversity_annual_report/pipeline.yaml
Labels: revision: pipeline, data onboarding

#364 feat: Onboard IDC v9 dataset
  datasets/idc/infra/idc_dataset.tf
  datasets/idc/infra/variables.tf
  datasets/idc/pipelines/copy_tcia_data/copy_tcia_data_dag.py
  datasets/idc/pipelines/copy_tcia_data/pipeline.yaml
  datasets/idc/pipelines/dataset.yaml
Labels: revision: pipeline, data onboarding

#369 chore: Increased compute resources for TheLook pod
  datasets/thelook_ecommerce/pipelines/thelook_ecommerce/pipeline.yaml
  datasets/thelook_ecommerce/pipelines/thelook_ecommerce/thelook_ecommerce_dag.py
Labels: revision: pipeline

#368 chore: Revisions to Open Targets pipelines
  datasets/open_targets/infra/open_targets_dataset.tf
  datasets/open_targets/pipelines/copy_genetics_data/copy_genetics_data_dag.py
  datasets/open_targets/pipelines/copy_genetics_data/pipeline.yaml
  datasets/open_targets/pipelines/copy_platform_data/copy_platform_data_dag.py
  datasets/open_targets/pipelines/copy_platform_data/pipeline.yaml
Labels: revision: pipeline

#363 fix: Revised COVID-19 Google Mobility dataset
  datasets/covid19_google_mobility/pipelines/_images/covid19_google_mobility_mobility_report_schema.json
  datasets/covid19_google_mobility/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/covid19_google_mobility/pipelines/_images/run_csv_transform_kub/requirements.txt
  datasets/covid19_google_mobility/pipelines/mobility_report/mobility_report_dag.py
  datasets/covid19_google_mobility/pipelines/mobility_report/pipeline.yaml
Labels: bug, cleanup, revision: pipeline
