Repository GoogleCloudPlatform/public-datasets-pipelines, pull requests merged in 2022-07, with the labels that each got.

#393 chore: Improved command line info when remote vars exist and no local vars
  scripts/deploy_dag.py
Labels: revision: feature

#401 fix: Use Python 3.8.12 for Airflow 1 tests
  .github/workflows/unit-tests-airflow1.yaml
Labels: bug, dependencies

#406 Feat: Onboard IMDb dataset
  datasets/imdb/infra/imdb_dataset.tf
  datasets/imdb/infra/interfaces_pipeline.tf
  datasets/imdb/infra/reviews_pipeline.tf
  datasets/imdb/pipelines/_images/run_csv_transform_kub/csv_transform.py
  datasets/imdb/pipelines/dataset.yaml
  datasets/imdb/pipelines/interfaces/interfaces_dag.py
  datasets/imdb/pipelines/interfaces/pipeline.yaml
  datasets/imdb/pipelines/reviews/pipeline.yaml
  datasets/imdb/pipelines/reviews/reviews_dag.py
Labels: data onboarding

#420 Feat: Onboard Celeba dataset
  datasets/celeba/infra/provider.tf
  datasets/celeba/infra/variables.tf
  datasets/celeba/pipelines/celeba/celeba_dag.py
  datasets/celeba/pipelines/celeba/pipeline.yaml
  datasets/celeba/pipelines/dataset.yaml
Labels: data onboarding

#418 feat: Rename co2 columns to emissions for Travel Impact Model
  datasets/travel_impact_model/pipelines/flights_impact_data/flights_impact_data_dag.py
  datasets/travel_impact_model/pipelines/flights_impact_data/pipeline.yaml
Labels: revision: pipeline, data onboarding

#424 feat: Support `--async-builds` flag for generate_dag.py
  scripts/generate_dag.py
  tests/scripts/test_generate_dag.py
Labels: feature request

#428 chore: Remove old pipelines from Census Bureau ACS
  datasets/census_bureau_acs/pipelines/_images/schema.json
  datasets/census_bureau_acs/pipelines/cbsa_2019_1yr/cbsa_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/cbsa_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/cbsa_2019_5yr/cbsa_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/cbsa_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/censustract_2019_5yr/censustract_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/censustract_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/congressionaldistrict_2019_1yr/congressionaldistrict_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/congressionaldistrict_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/congressionaldistrict_2019_5yr/congressionaldistrict_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/congressionaldistrict_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/county_2019_1yr/county_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/county_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/county_2019_5yr/county_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/county_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/place_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/place_2019_1yr/place_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/place_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/place_2019_5yr/place_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/puma_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/puma_2019_1yr/puma_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/puma_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/puma_2019_5yr/puma_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/schooldistrictelementary_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/schooldistrictelementary_2019_1yr/schooldistrictelementary_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/schooldistrictelementary_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/schooldistrictelementary_2019_5yr/schooldistrictelementary_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/schooldistrictsecondary_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/schooldistrictsecondary_2019_1yr/schooldistrictsecondary_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/schooldistrictsecondary_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/schooldistrictsecondary_2019_5yr/schooldistrictsecondary_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/schooldistrictunified_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/schooldistrictunified_2019_1yr/schooldistrictunified_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/schooldistrictunified_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/schooldistrictunified_2019_5yr/schooldistrictunified_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/state_2019_1yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/state_2019_1yr/state_2019_1yr_dag.py
  datasets/census_bureau_acs/pipelines/state_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/state_2019_5yr/state_2019_5yr_dag.py
  datasets/census_bureau_acs/pipelines/zcta_2019_5yr/pipeline.yaml
  datasets/census_bureau_acs/pipelines/zcta_2019_5yr/zcta_2019_5yr_dag.py
Labels: cleanup

#412 feat: add scaffold script for directory + dataset.yaml setup
  scripts/scaffold.py
  tests/conftest.py
  tests/scripts/test_scaffold.py
Labels: feature request

#430 chore: Update google_cfe configuration
  datasets/google_cfe/infra/datacenter_cfe_pipeline.tf
  datasets/google_cfe/infra/google_cfe_dataset.tf
  datasets/google_cfe/infra/variables.tf
  datasets/google_cfe/pipelines/datacenter_cfe/pipeline.yaml
  datasets/google_cfe/pipelines/dataset.yaml
Labels: revision: pipeline

#431 feat: Onboard DeepMind AlphaFold DB
  datasets/deepmind/infra/deepmind_dataset.tf
  datasets/deepmind/infra/provider.tf
  datasets/deepmind/infra/variables.tf
  datasets/deepmind/pipelines/_images/sts_jobs_generator/Dockerfile
  datasets/deepmind/pipelines/_images/sts_jobs_generator/requirements.txt
  datasets/deepmind/pipelines/_images/sts_jobs_generator/script.py
  datasets/deepmind/pipelines/alphafold/alphafold_dag.py
  datasets/deepmind/pipelines/alphafold/pipeline.yaml
  datasets/deepmind/pipelines/dataset.yaml
Labels: data onboarding
